a 
{
    padding: 1em;
    border: 5px solid;
    margin: 1em;
    flex: 1;
    text-align: center;
    color: white;
    background-color: brown;
  }
  p
  {
    color: #0000FF;
    text-align: center;
  }

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;

}
h1{
  font-family: pacifico
  color:blue;
    padding: 10px;
    margin: 5px;
    flex: 1;
    text-align: center;
   }
h2{ color: black;
    padding: 10px;
    margin: 5px;
    flex: 1;
  text-align:center;}
  #a{color: #0000FF;
   border: 2px solid lightgreen;
    padding: 50px;
    margin: 20px;
    flex: 1;

  	}
    #b{color: #0000FF;
   border: 2px solid lightgreen;
    padding: 50px;
    margin: 20px;
    flex: 1;
  }
  #c
  {
color: #0000FF;
   border: 2px solid lightgreen;
    padding: 50px;
    margin: 20px;
    flex: 1;
    }
body{
  background-color:skyblue;}
footer{
  background-color: blue;
  color: white;
  width: 100%;
  padding: 10px;
  margin: 10px;
height:100px;
  text-align: center;}

  